<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análisador de Dados CSV</title>
    <style>
        body {
            background-color: #282c34;
            color: #e4e4e4;
            font-family: 'Consolas', 'Courier New', monospace;
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 15vh;
            min-height: 100vh;
        }
    </style>
</head>
    <body>
        {% block conteudo %}
        {% endblock %}
    </body>
</html>