{% extends 'base.html' %}
{% block conteudo %}
<h2>Graficos Gerados:</h2>
<div style="display: flex; flex-direction: column; align-items: center; gap: 30px; width: 100%;">
    {% for grafico in resultado.graficos_html %}
    <div style="width: 80%; max-width: 900px; background-color: #121212; border-radius: 8px; padding: 10px;">
        {% if grafico['alerta'] == 1 %}
        <div class="alerta-vermelho">
            <p style="color: red; font-weight: bold;">Atenção: Os dados desta coluna possuem grande variação em relação
                a média!</p>
        </div>
        {% endif %}
        {{ grafico['conteudo'] | safe }}
    </div>
    {% endfor %}
    <form action="/ia">
        <button>ANÁLISE IA</button>
    </form>

    <style>
        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            font-family: sans-serif;
        }

        button:hover {
            background-color: #0b003e;
        }
    </style>
</div>
{% endblock %}